Smart_Garden Monitoring system_code.txt
[
    {
        "id": "1",
        "type": "tab",
        "label": "Smart Garden Monitoring System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "temperatureSensor",
        "type": "function",
        "z": "1",
        "name": "Simulate Temperature",
        "func": "msg.payload = Math.floor(Math.random() * 15) + 15; // Simulate between 15°C and 30°C\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 80,
        "wires": [["tempGauge"]]
    },
    {
        "id": "humiditySensor",
        "type": "function",
        "z": "1",
        "name": "Simulate Humidity",
        "func": "msg.payload = Math.floor(Math.random() * 50) + 30; // Simulate between 30% and 80%\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 140,
        "wires": [["humidityGauge"]]
    },
    {
        "id": "soilMoistureSensor",
        "type": "function",
        "z": "1",
        "name": "Simulate Soil Moisture",
        "func": "msg.payload = Math.floor(Math.random() * 50) + 25; // Simulate between 25% and 75%\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 200,
        "wires": [["moistureGauge", "checkMoistureLevel"]]
    },
    {
        "id": "checkMoistureLevel",
        "type": "function",
        "z": "1",
        "name": "Check Moisture Level",
        "func": "if (msg.payload < 40) {\n    msg.payload = \"ON\";\n    msg.topic = \"Water Pump Status\";\n} else {\n    msg.payload = \"OFF\";\n    msg.topic = \"Water Pump Status\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 200,
        "wires": [["pumpStatus"]]
    },
    {
        "id": "tempGauge",
        "type": "ui_gauge",
        "z": "1",
        "name": "Temperature Gauge",
        "group": "dashboardGroup",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "humidityGauge",
        "type": "ui_gauge",
        "z": "1",
        "name": "Humidity Gauge",
        "group": "dashboardGroup",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "moistureGauge",
        "type": "ui_gauge",
        "z": "1",
        "name": "Soil Moisture Gauge",
        "group": "dashboardGroup",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "pumpStatus",
        "type": "ui_text",
        "z": "1",
        "name": "Water Pump Status",
        "group": "dashboardGroup",
        "order": 4,
        "width": 6,
        "height": 1,
        "label": "Water Pump",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "dashboardGroup",
        "type": "ui_group",
        "z": "",
        "name": "Garden Monitoring",
        "tab": "dashboardTab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "dashboardTab",
        "type": "ui_tab",
        "z": "",
        "name": "Garden Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "1",
        "name": "Simulate Data Every 5 sec",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [["temperatureSensor", "humiditySensor", "soilMoistureSensor"]]
    }
]